In [2]:
# Importar de librerias
import json
import requests 
import pandas as pd

In [4]:
df = pd.read_json("https://raw.githubusercontent.com/PeHMeteoN/ScrappingToolKit/master/json/PE_senamhi_current.json")
df.head()

,alt,cate,cod,cod_old,estado,ico,lat,lon,nom
0,431.0,CO,100090,396.0,DIFERIDO,M,-7.22499,-79.15323,MONTE GRANDE
1,1970.0,PLU,106067,153109.0,DIFERIDO,M,-6.27366,-79.03696,QUEROCOTILLO
2,2551.0,HLG,221110,220307.0,DIFERIDO,H,-6.67411,-78.52437,PUENTE MAYGASBAMBA
3,3292.7,PLU,100113,153108.0,DIFERIDO,M,-6.68778,-78.45694,QUEBRADA SHUGAR
4,2757.0,PLU,106077,153208.0,DIFERIDO,M,-6.67091,-78.73717,CHUGUR

In [17]:
estac = df["codigo"]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

def fechas_df(df, field_dates):
  fy = list(df[field_dates])[0]
  len_first_year = len(df[df[field_dates] == fy])
  date_rng_fy = pd.date_range(start='1/1/{}'.format(df[field_dates][0]), end='31/12/{}'.format(df[field_dates][0]), freq='D')
  dates_first_year = pd.date_range(start=date_rng_fy[-len_first_year], end='31/12/{}'.format(df[field_dates][0]), freq='D')

  ly = list(df[field_dates])[-1]
  len_last_year = len(df[df[field_dates] == ly])
  date_rng_ly = pd.date_range(start='1/1/{}'.format(ly), end='31/12/{}'.format(ly), freq='D')
  dates_last_year = pd.date_range(start='1/1/{}'.format(ly), end=date_rng_ly[len_last_year-1], freq='D')

  dates = pd.date_range(start=date_rng_fy[-len_first_year], end=date_rng_ly[len_last_year-1], freq='D')
  df[field_dates] = dates
  return df

def download_historic_senamhi(codigo):
  response = requests.get("https://web2.senamhi.gob.pe/descarga/?cod={}".format(codigo))
  soup = BeautifulSoup(response.text, "html.parser")

  lista = []
  for s in soup.find_all('script', {"type":"text/javascript"}):
      lista.append(s.text)

  m = lista[1].replace("\n", "").replace("\r", "").replace("\t", "").replace("null", "None")
  datos = re.findall("\[.*?]", m)
  t = [d for d in datos if len(d)>100]

  # Fechas
  d = re.findall("(categories: \[.*?])", t[0])[0]
  d = d.split(":")[1][2:-2]
  fechas_lista = [int(f) for f in d.replace("'", "").split(",")]
  fechas_lista

  # Precipitacion
  p = re.findall("(data: \[.*?])", t[1])[0]
  p = p.split(":")[1][2:-2]

  pp_lista = []
  for pp in p.split(","):
    if pp == "None":
      pp_lista.append(None)
    else:
      pp_lista.append(float(pp))

  # Temp Max
  temp = t[2][1:-2]
  temp_max_lista = []
  for temp in temp.split(","):
    if temp == "None":
      temp_max_lista.append(None)
    else:
      temp_max_lista.append(float(temp))

  # Temp Min
  temp = t[3][1:-2]
  temp_min_lista = []
  for temp in temp.split(","):
    if temp == "None":
      temp_min_lista.append(None)
    else:
      temp_min_lista.append(float(temp))

  dicc = {
      "fechas": fechas_lista,
      "pp": pp_lista,
      "temp_max": temp_max_lista,
      "temp_min": temp_min_lista,
  }

  df = pd.DataFrame(dicc)
  df = fechas_df(df, "fechas")
  df.to_csv("drive/My Drive/SENAMHI/historical_data/{}.csv".format(codigo), index=False)

In [ ]:
download_historic_senamhi(152204)

In [18]:
error_log = []
for e in estac:
    try:
        print(e)
        df = download_historic_senamhi(e)
        data = df.to_dict(orient='records')
        collection.insert_many(data)
    except:
        error_log.append(e)

152204
152210
155105
000441
150903
154111
000435
154110
154107
150902
000677
157317
000765
158208
000755
000864
157309
000749
000837
000801
007308
157314
157312
157313
157310
000833
000830
000746
000804
000805
157315
000754
000758
157311
000849
000847
158209
000839
157300
157329
000736
000743
157223
156211
156212
000745
157206
151602
157200
000352
153109
153108
153208
000349
000250
000241
153107
152129
153103
000341
153235
000353
153223
000373
000369
000393
000304
153201
153203
000260
000240
000370
153111
153110
000395
000607
000687
000812
000844
000686
000809
156306
000690
156126
000659
000657
151503
156114
156130
157101
000647
156123
156122
000625
006200
000457
000404
000552
000468
000469
000700
000650
157102
000698
000730
000640
000791
156113
000727
000477
000608
155231
155229
155115
000635
155121
000503
154101
153101
153206
000374
154103
154112
154102
154106
153327
000325
000332
000320
153102
000333
152107
000301
153114
000340
151208
000547
151204
000543
151209
000618
155201
000541
000536
155212
000542
155200
155207
000501
151210
156106
151212
156103
156111
156109
156104
155450
151213
155223
156100
000548
155202
155209
155218
155112
155107
000534
155224
155213
151205
151207
155122
156102
151214
155217
000616
000638
000539
000546
155214
155205
150208
150201
150204
151500
150205
150207
150206
152409
000150
153315
000278
152406
152401
150209
152402
000281
000390
000806
158301
158308
158310
000851
000846
000840
000207
000247
000237
000238
152106
152132
000248
152128
152126
152127
150001
000255
000235
152111
000230
152103
000208
152101
000231
152100
000708
000818
000788
000781
000783
000778
000785
007415
000880
000883
000881
000879
158326
000878
000786
000827
000779
000762
000815
000803
000776
000823
000764
000787
157414
000826
000780
157418
000882
000822
153300
153226
153225
153312
153307
003308
000211
000383
003317
000322
153311
153313
153316
000219
153319
153322
153320
000310
153314
000385
000901
000807
000875
158325
158321
158328
000853
000860
000877
158323
158318
158317
158327
000132
151100
000135
150112
000459

In [ ]:
len(error_log)

In [ ]:
len(estac)

In [ ]:
error_log

In [15]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

def fechas_df(df, field_dates):
    fy = list(df[field_dates])[0]
    len_first_year = len(df[df[field_dates] == fy])
    date_rng_fy = pd.date_range(start='1/1/{}'.format(df[field_dates][0]), end='31/12/{}'.format(df[field_dates][0]), freq='D')
    dates_first_year = pd.date_range(start=date_rng_fy[-len_first_year], end='31/12/{}'.format(df[field_dates][0]), freq='D')

    ly = list(df[field_dates])[-1]
    len_last_year = len(df[df[field_dates] == ly])
    date_rng_ly = pd.date_range(start='1/1/{}'.format(ly), end='31/12/{}'.format(ly), freq='D')
    dates_last_year = pd.date_range(start='1/1/{}'.format(ly), end=date_rng_ly[len_last_year-1], freq='D')

    dates = pd.date_range(start=date_rng_fy[-len_first_year], end=date_rng_ly[len_last_year-1], freq='D')
    df[field_dates] = dates
    return df

def download_historic_senamhi(codigo):
    response = requests.get("https://web2.senamhi.gob.pe/descarga/?cod={}".format(codigo))
    soup = BeautifulSoup(response.text, "html.parser")

    lista = []
    for s in soup.find_all('script', {"type":"text/javascript"}):
        lista.append(s.text)

    m = lista[1].replace("\n", "").replace("\r", "").replace("\t", "").replace("null", "None")
    datos = re.findall("\[.*?]", m)
    t = [d for d in datos if len(d)>100]

    # Fechas
    d = re.findall("(categories: \[.*?])", t[0])[0]
    d = d.split(":")[1][2:-2]
    fechas_lista = [int(f) for f in d.replace("'", "").split(",")]
    fechas_lista

    # Precipitacion
    p = re.findall("(data: \[.*?])", t[1])[0]
    p = p.split(":")[1][2:-2]

    pp_lista = []
    for pp in p.split(","):
        if pp == "None":
            pp_lista.append(None)
        else:
            pp_lista.append(float(pp))

    # Temp Max
    temp = t[2][1:-2]
    temp_max_lista = []
    for temp in temp.split(","):
        if temp == "None":
            temp_max_lista.append(None)
        else:
            temp_max_lista.append(float(temp))

    # Temp Min
    temp = t[3][1:-2]
    temp_min_lista = []
    for temp in temp.split(","):
        if temp == "None":
            temp_min_lista.append(None)
        else:
            temp_min_lista.append(float(temp))

    dicc = {
        "codigo": codigo,
        "fechas": fechas_lista,
        "pp": pp_lista,
        "temp_max": temp_max_lista,
        "temp_min": temp_min_lista,
    }

    df = pd.DataFrame(dicc)
    df = fechas_df(df, "fechas")

    return df
#   df.to_csv("drive/My Drive/SENAMHI/historical_data/{}.csv".format(codigo), index=False)

In [ ]:
error_log = []
for e in estac:
    try:
        print(e)
        df = download_historic_senamhi(e)
        data = df.to_dict(orient='records')
        collection.insert_many(data)
    except:
        error_log.append(e)

In [12]:
df = download_historic_senamhi(157317)
df.head()

   codigo     fechas   pp  temp_max  temp_min
0  157317 1963-11-01  0.0       NaN       NaN
1  157317 1963-11-02  0.0       NaN       NaN
2  157317 1963-11-03  0.0       NaN       NaN
3  157317 1963-11-04  0.0       NaN       NaN
4  157317 1963-11-05  0.0       NaN       NaN

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://ryali93:Thefather_13@cluster0-tdfph.mongodb.net/test?retryWrites=true&w=majority")
db = client.test
# client = MongoClient("mongodb+srv://ryali93:72916096@cluster0-tdfph.mongodb.net/test?retryWrites=true&w=majority")

db = client.senamhi_data
collection = db.senamhi_data_historic

collection.insert_one(mydict)

In [6]:
data = df.to_dict(orient='records')
collection.insert_many(data)

## Leer desde mongodb

In [62]:
import pandas as pd
from pymongo import MongoClient

def read_mongo(db, collection, query={}, username=None, password=None, no_id=True):
    mongo_uri = 'mongodb+srv://%s:%s@cluster0-tdfph.mongodb.net/test?retryWrites=true&w=majority' % (username, password)
    conn = MongoClient(mongo_uri)
    db = conn[db]
    cursor = db[collection].find(query)
    df =  pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    del conn
    return df

In [ ]:
query = {"codigo": "000383"}
data = read_mongo("senamhi_data", "senamhi_data_historic", query, username="ryali93", password="Thefather_13")

In [ ]:
# type(data.iloc[0,4])
from datetime import datetime

data[data["fechas"]>datetime("1963-04-01")]

In [ ]:
data['fechas'] = pd.to_datetime(data['fechas'])

In [ ]:
split_date = pd.datetime(2005,2,2)
data[data["fechas"] > split_date]